/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  margin-left: 10px;
}
/*BASE STYLES END */

.movie-container {
  display: flex;
  flex-direction: column;
}

.movie-info {
  width: 100%;
  flex-grow: 1;
}

.movie-info ul {
  list-style-type: none;
  padding: 0;
}

.goBack-button {
  align-self: start;
  margin-bottom: 20px;
}

.movie-content {
  display: flex;
  gap: 20px;
}

.movie-poster {
  width: 300px; /* Увеличенная ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}


